.guide {
  color: black;
  text-align: left;
  font-size: 14px;
  padding: 16px;
}

.guideTitle {
  text-align: center;
  max-width: 100%;
  color: rgb(95, 169, 255);
  font-size: 30px;
}

.guideDate {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.guideDescription {
  text-align: center;
  margin-top: 2px;
}

.guideContent {
  text-align: left;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.guideContent h1 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.692);
}

.guideContent h2 {
  font-size: 18px;
  color: #406081;
}

.guideContent p {
  font-size: 14px;
}

.guideContent img {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

@media (max-width: 1300px) {
  .guideContent {
    max-width: 90%;
    margin-left: 16px;
    margin-right: 16px;
    margin: 0 auto;
  }
}
