/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap"); */

img {
  -webkit-user-drag: none;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  font-size: 18px;
  background-color: #f4faff;
  margin: 0;
  width: 100%;
  height: 100%;
}

#___gatsby {
  height: 100%;
  margin: 0;
}

#___gatsby > div {
  height: 100%;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.Tableclass {
  margin: 0 auto;
  width: 98%;
  margin-top: 30px;
  border: 0px;
}

.Tableclass tr {
  font-weight: 600;
  font-size: 10px;
}

.Tableclass th {
  font-size: 10px;
  color: white;
  font-weight: 800;
  text-align: left;
  width: 50px;
}

.Tableclass td {
  font-size: 12px;
  color: white;
  text-align: center;
  height: 50px;
}
.striped {
  background: rgba(128, 128, 128, 0.171);
}

/*                 DESKTOP          */
.Hero {
  position: relative;
  text-align: center;
  color: white;
}
.mobile {
  margin-top: -15vh;
}

.HeroContainer {
  background-size: cover;
  height: 35vh;
  width: 100%;
  position: relative;
}
.Img {
  height: 200%;
  object-position: center top;
  z-index: -1000;
}

.gradient {
  position: absolute;
  height: 26px;
  width: 100%;
  bottom: 0;
  background: #f4faff;
  pointer-events: none;
  border-radius: 26px 26px 0px 0px;
}

.HeroGroup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeroGroup h1 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 5px;
  color: black;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.HeroGroup p {
  padding: 10px;
  border-radius: 0px;
  font-weight: 800;
  font-size: 14px;
  color: black;
  -webkit-font-smoothing: antialiased;
  width: 100px;
  margin: 0 auto;
  margin-top: 5px;
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Title h1 {
  margin-left: 16px;
  font-size: 20px;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  justify-content: left;
  overflow: hidden;
  padding: 10px;
  padding-left: 0px;
}

.Selectan h1 {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 7px;
  font-weight: "800";
  font-size: 24px;
  line-height: 1.2;
  color: #5fa9ff;
  justify-content: center;
  overflow: hidden;
}

.CardboxGroup {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  overflow: visible;
  max-width: 1200px;
}

@media (max-width: 720px) {
  .CardboxGroup {
    margin: 20px 16px 55px;
    display: grid;
    grid-template-columns: repeat(50, 275px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: left;
    align-items: stretch;
    overflow: visible;
  }

  .CardboxGroupScroll {
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    background: transparent;
    padding: 30px 0px -10px;
  }

  .Selectan h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 7px;

    font-size: 24px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    justify-content: center;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  .Hero h1 {
    font-size: 50px;
  }
  .HeroContainer {
    height: 600px;
  }
  .Img {
    height: 600px;
  }

  .gradient {
    height: 80px;
  }
}

/*modal queries*/
@media (max-width: 560px) {
}

.Modal {
  max-width: 500px;
  width: 95%;
  height: auto;
  outline: none;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.418);
  outline: none;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.801);
  backdrop-filter: blur(20px);

  z-index: 10000;
}

.Modal button {
  width: 100px;
  height: 30px;
  background: none;
  border-radius: 0px;
  border: 2px solid white;
  color: white;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  margin: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.Modal button:hover {
  background: #daa54e;
  color: white;
  border: 2px solid #daa54e;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.player {
  border-radius: 20px 20px 0px 0px;
  outline: none;
  background-color: #2b2b2d;
  overflow: hidden;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

@media (max-width: 1024px) {
}

@media (max-width: 560px) {
  .Text {
    height: 295px;
    overflow-y: auto;
  }
}
@media only screen and (max-device-width: 375px) and (max-device-width: 720px) and (orientation: portrait) {
  .scrollable {
    overflow-y: auto;
    height: 200px;
    margin-bottom: 40px;
  }
  .scrollableg {
    overflow-y: auto;
    height: 470px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .scrollable {
    overflow-y: auto;
    height: 200px;
    margin-bottom: 40px;
  }
  .scrollableg {
    overflow-y: auto;
    height: 400px;
    margin-bottom: 20px;
  }
  .gradientmodal {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    border-radius: 0px 0px 26px 26px;
    background: linear-gradient(
      0deg,
      #141b1e 10%,
      #141b1e 0,
      rgba(25, 26, 27, 0)
    );
    pointer-events: none;
  }
  .gradientmodalg {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 50px;
    border-radius: 0px 0px 26px 26px;
    background: linear-gradient(
      0deg,
      #141b1e 10%,
      #141b1e 0,
      rgba(25, 26, 27, 0)
    );
    pointer-events: none;
  }
}

@media only screen and (min-device-width: 319px) and (max-device-width: 1024px) and (orientation: landscape) {
  .Modal {
    max-width: 360px;
    overflow-y: auto;
    margin-top: 230px;
  }
  .Overlay {
    overflow-y: auto;
  }
}

@media (max-width: 420px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 0px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

/* Color lib table https://colorlib.com/etc/tb/Table_Responsive_v1/index.html */

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
  margin: auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: lightblue;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}

/* overview table */
.rt-table {
  background: #fff;
  box-shadow: 0px 8px 12px #bdccdb;
  border-radius: 26px;
  margin-left: 16px;
}
.rt-th {
  color: #5fa9ff;
  font-size: 16px;
  font-weight: 500;
}

.rt-tr.-odd {
  background: #f7f7f7 !important;
}

/* My Custom CSS */

.no-active {
  pointer-events: none;
  cursor: default;
}

/* Hides the indicator on material ui tabs */
.PrivateTabIndicator-colorPrimary-79 {
  visibility: hidden;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  background: lightgrey;
  width: 100%;
}

@media (min-width: 700px) {
  .bottomNav {
    display: none;
  }
}
